/build/gmake/obj/
/bin/
/build/msvc2010/Obj/
/build/msvc2010/Debugtidydll/
/build/msvc2010/Debugtidylib/
/build/msvc2010/Debug/
/build/msvc2010/Releasetidydll/
/build/msvc2010/Releasetidylib/
/build/msvc2010/Release/
/build/msvc2010/ipch/
/build/msvc2010/tidy.opensdf
/htmldoc/tidy-config.xml
/htmldoc/tidy-help.xml
/htmldoc/tidy.1
/htmldoc/quickref.html
/lib/
/autom4te.cache/
/console/.deps/
/console/.libs/
/src/.deps/
/src/.libs/
*.user
*.suo
*.sdf
