# Tidy Options generated and exported by Balthisar Tidy for Mac OS X.
# Please visit http://www.balthisar.com for more information about Balthisar Tidy.
# - Double-check encoding values; Balthisar Tidy set them all to "utf8".
# - If "accessibility-check" has a string after the number, it’s okay; it will work fine.
# To use this configuration file with the native command line version of Tidy, use Tidy like this:
# tidy -config tidy.cfg some_file.html
#
accessibility-check: 0 (Tidy Classic)
add-xml-decl: no
add-xml-space: no
alt-text: 
anchor-as-name: yes
ascii-chars: no
assume-xml-procins: no
bare: no
break-before-br: no
clean: yes
coerce-endtags: yes
css-prefix: 
decorate-inferred-ul: no
doctype: html5
drop-empty-elements: yes
drop-empty-paras: yes
drop-proprietary-attributes: no
enclose-block-text: no
enclose-text: no
escape-cdata: no
fix-backslash: yes
fix-bad-comments: yes
fix-uri: yes
force-output: no
gdoc: no
hide-comments: no
indent: yes
indent-attributes: no
indent-cdata: no
indent-spaces: 4
input-encoding: utf8
input-xml: no
join-classes: no
join-styles: no
literal-attributes: no
logical-emphasis: no
lower-literals: yes
markup: yes
merge-divs: auto
merge-emphasis: yes
merge-spans: auto
ncr: yes
new-blocklevel-tags: 
new-empty-tags: 
new-inline-tags: 
new-pre-tags: 
newline: LF
numeric-entities: no
omit-optional-tags: no
output-encoding: utf8
output-html: no
output-xhtml: no
output-xml: no
preserve-entities: yes
punctuation-wrap: no
quote-ampersand: yes
quote-marks: no
quote-nbsp: yes
repeated-attributes: keep-last
replace-color: yes
show-body-only: no
sort-attributes: none
tab-size: 8
tidy-mark: yes
uppercase-attributes: no
uppercase-tags: no
vertical-space: no
word-2000: no
wrap: 0
wrap-asp: yes
wrap-attributes: no
wrap-jste: yes
wrap-php: yes
wrap-script-literals: no
wrap-sections: yes
